
/*Start CSS for heading panel*/
.fixedheader {
    /*margin-top: 70px;*/
    width: 100%;
    height: 670px;
    display: block;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    /*background-position: 50% -215px;*/
    z-index: 100;
}


.heading-panel{
    background: #607D8B;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}
.heading-panel .logo img{
    height: 40px;
}
.heading-panel .icon{
    color:#CFD8DC;
    text-align: center;
}
.heading-panel  a{
    color:#CFD8DC;
    cursor:pointer;
    -webkit-transition-delay: 0.2s; /* Safari */
    transition-delay:  0.2s;


}
.heading-panel  a:hover{
    border-bottom: 2px solid red;
    cursor:pointer;

}



/*End CSS for heading panel*/